<!-- templates/adao_app/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADAO</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'adao_app/css/style.css' %}">
</head>
<body>
    <!-- ნავბარის ჩართვა ყველა გვერდზე -->
    {% include 'adao_app/navbar.html' %}

    <div class="content">
        <h1>Welcome to our Online Shop!</h1>
        <p>Explore our products and enjoy shopping!</p>
    </div>

</body>
</html>
