<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'adao_app/css/style.css' %}">
    <title>Products</title>
</head>
<body>
    {% include 'adao_app/navbar.html' %}
    <h1>hello</h1>
    <ul>
        {% for product in products %}
          <li>
            <h2>{{ product.name }}</h2>
            <p>Price: ${{ product.price }}</p>
            {% if product.image %}
              <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
            {% else %}
              <p>No image available</p>
            {% endif %}
          </li>
        {% endfor %}
    </ul>
</body>
</html>