<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Online Store{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'adao_app/css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}" {% if request.path == '/' %}class="active"{% endif %}>Home</a></li>
                <li><a href="{% url 'product_list' %}" {% if request.path == '/products/' %}class="active"{% endif %}>Products</a></li>
                <li><a href="{% url 'about' %}" {% if request.path == '/about/' %}class="active"{% endif %}>About</a></li>
                <li><a href="{% url 'contact' %}" {% if request.path == '/contact/' %}class="active"{% endif %}>Contact</a></li>
        
                {% if user.is_authenticated %}
                    <!-- If the user is authenticated, show Dashboard and Favourites links -->
                    <li><a href="{% url 'dashboard' %}" {% if request.path == '/dashboard/' %}class="active"{% endif %}>Dashboard</a></li>
                    <li><a href="{% url 'favourites' %}" {% if request.path == '/favourites/' %}class="active"{% endif %}>Favourites</a></li>
                {% else %}
                    <!-- If the user is not authenticated, show Login link -->
                    <li><a href="{% url 'login' %}" {% if request.path == '/login/' %}class="active"{% endif %}>Login</a></li>
                {% endif %}
        
                <li><a href="{% url 'cart_view' %}" {% if request.path == '/cart/' %}class="active"{% endif %}>Cart</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
    </footer>
</body>
</html>
